/Baigiamasis1.csproj
/bin/Debug/Baigiamasis1.dll
/bin/Debug/Baigiamasis1.pdb
/bin/Debug/chromedriver.exe
/bin/Debug/CsQuery.dll
/bin/Debug/CsQuery.xml
/bin/Debug/nunit.framework.dll
/bin/Debug/nunit.framework.xml
/bin/Debug/nunit_random_seed.tmp
/bin/Debug/WebDriver.dll
/bin/Debug/WebDriver.xml
/Class1.cs
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/Baigiamasis1.csproj.CopyComplete
/obj/Debug/Baigiamasis1.csproj.CoreCompileInputs.cache
/obj/Debug/Baigiamasis1.csproj.FileListAbsolute.txt
/obj/Debug/Baigiamasis1.csprojAssemblyReference.cache
/obj/Debug/Baigiamasis1.dll
/obj/Debug/Baigiamasis1.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages.config
/Properties/AssemblyInfo.cs
